RewriteEngine On

# Excluir la carpeta cronjobs de las reglas de reescritura
RewriteRule ^cronjobs/ - [L]

# El resto de tus reglas de reescritura
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]